---
---

// Text Variables
$text-color: #F8F8F8;

body {
  margin: 0;
	background-image: url(../img/darkbg.jpg);
  background-repeat: no-repeat;
}

#wrapper {
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Roboto', sans-serif;

  text-align: center;
  color: 	$text-color;
}

.content {
  display: inline-block;
  text-align: left;
}

h1 {
  text-transform: uppercase;
  font-size: 1.9em;
  margin: 0;
}

h2 {
  margin: 0;
  padding: 0 5px 0 5px;
  background-color: $text-color;
  color: black;
  display: inline-block;
}

.text {
  padding-top: 20px;
  max-width: 425px;
}

.contact i {
  padding: 0 10px 0 0;
}

a {
  color: inherit;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
